.avatarIcon {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #808080;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}