.container {
    margin-top: 75px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 20px;
    text-align: center;
}

.questionContainer {
    padding: 30px;
    width: 439px;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.answersAmount {
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 29px;
}
