.actionsWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nameWrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 180px;
    white-space: nowrap;
}