.answerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.answerCover {
    width: 100%;
    height: 100px;
}

.answerCover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.subtitle {
    margin-bottom: 15px;
}

.subtitle span {
    font-weight: 700;
}