.links {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.login:hover, .reg:hover, .error:hover, .prof:hover, .passrecovery:hover, .forgotpass:hover, .packs:hover, .main:hover    {
    background-color: lightblue;
}

.login, .reg, .error, .prof, .passrecovery, .forgotpass, .packs, .main{
    color:blue;
}

