.wrapper {
    position: absolute;
    bottom: 40px;
    left: 180px;
    margin-top: 40px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.selectWrapper {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color:blue
}