div.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.breadcrumbs {
    margin-top: 25px;
    color: #000;

    display: flex;
    align-items: center;

    align-self: flex-start;
}

.breadcrumbs span {
    margin-left: 10px;
    line-height: 24px;
}

.description {
    opacity: .6;
    margin: 0 0 20px 0;
}

.question {
    margin: 0 0 30px 0;
}

.answer {
    font-weight: normal;
    margin-left: 20px;
    font-size: 16px;
}

.center {
    text-align: center;
}

.tooltip {
    opacity: .6;
}

.answerContainer {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 30px;
}

.wrapper {
    padding: 30px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 413px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;

    margin: 30px 0 0 0;
}